[submodule ".config/tmux/plugins/tpm"]
    path = .config/tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm
[submodule ".yadm/installable/diff-so-fancy"]
    path = .yadm/installable/diff-so-fancy
    url = https://github.com/so-fancy/diff-so-fancy.git
[submodule ".yadm/installable/bats"]
    path = /home/dvp/.local/bats
    url = https://github.com/bats-core/bats-core.git
[submodule ".yadm/installable/bats-file"]
    path = /home/dvp/.local/bats-file
    url = https://github.com/bats-core/bats-file.git
[submodule ".yadm/installable/bats-support"]
    path = /home/dvp/.local/bats-support
    url = https://github.com/bats-core/bats-support
[submodule "/home/dvp/.local/bats-assert"]
    path = /home/dvp/.local/bats-assert
    url = https://github.com/bats-core/bats-assert
