[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/nvim/vim-plug"]
	path = .config/nvim/vim-plug
	url = https://github.com/junegunn/vim-plug
